node_modules/
.env
.env.*
!.env.example
cypress/videos/
cypress/screenshots/
cypress/downloads/
coverage/
reports/
evidences/
evidencias/
storageState.json
auth.json
*.har
*.log
*.zip
.DS_Store
Thumbs.db
.idea/
.vscode/settings.json
